<%- include('partials/header'); -%>

<h1>Compose</h1>
<!-- <form action="/compose" method="POST">
<input type="text" name="compose" placeholder="enter article here">
<button type="submit">Publish</button>
</form> -->

<form class="mb-3" action="/compose" method="POST">
    <label for="input1" class=" form-label mt-3">Title</label>
    <input name="postTitle" type="text" class="form-control" id="input1" placeholder="Title of article">
    
    <label for="input2" class="form-label mt-3">Post</label>
    <textarea name="postBody" class="form-control" id="input2" rows="3"></textarea>
    <button type="submit" class="btn btn-primary mt-3">Publish</button>
</form>
  







<%- include( 'partials/footer'); -%>